In [13]:
import pandas as pd
%load_ext dotenv
%dotenv
OPENAI_API_KEY = %env OPENAI_API_KEY

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [14]:
data_path = '../data/test-processed.csv'

In [15]:
def annotate():
    # make request to openai
    pass

In [5]:
df = pd.read_csv(data_path, index_col=0)
df.head()

,claim,orig_evidence,label,article,article_text,sentences,correct
0,Nikolaj Coster-Waldau worked with the Fox Broa...,"[[[92206, 104971, 'Nikolaj_Coster-Waldau', 7],...",SUPPORTS,Nikolaj_Coster-Waldau,Nikolaj William Coster-Waldau (Danish pronunci...,['Nikolaj William Coster-Waldau (Danish pronun...,[7]
1,Nikolaj Coster-Waldau worked with the Fox Broa...,"[[[92206, 104971, 'Nikolaj_Coster-Waldau', 7],...",SUPPORTS,Fox_Broadcasting_Company,"The Fox Broadcasting Company, commonly known s...","['The Fox Broadcasting Company, commonly known...",[0]
2,Roman Atwood is a content creator.,"[[[174271, 187498, 'Roman_Atwood', 1]], [[1742...",SUPPORTS,Roman_Atwood,"Roman Bernard Atwood (born May 28, 1983) is an...","['Roman Bernard Atwood (born May 28, 1983) is ...","[1, 3]"
3,"History of art includes architecture, dance, s...","[[[255136, 254645, 'History_of_art', 2]]]",SUPPORTS,History_of_art,The history of art focuses on objects made by ...,['The history of art focuses on objects made b...,[2]
4,Adrienne Bailon is an accountant.,"[[[180804, 193183, 'Adrienne_Bailon', 0]]]",REFUTES,Adrienne_Bailon,Adrienne Eliza Bailon-Houghton (née Bailon ();...,['Adrienne Eliza Bailon-Houghton (née Bailon (...,[0]